In [1]:
import pandas as pd
import numpy as np
expert_id = pd.read_csv('../data/expert_label_identification.csv')
expert_info = pd.read_csv('../data/human_experts_data.csv')

In [2]:
expert_id

                   case_number volunteer_id
0    0501775-80.2018.4.05.8311     volunt02
1    0507128-06.2019.4.05.8202     volunt18
2    0502858-95.2017.4.05.8302     volunt06
3    0533196-12.2018.4.05.8013     volunt29
4    0504055-24.2018.4.05.8311     volunt11
..                         ...          ...
685  0502542-82.2017.4.05.8205     volunt02
686  0504586-52.2018.4.05.8201     volunt32
687  0522136-09.2017.4.05.8100     volunt12
688  0502287-96.2018.4.05.8106     volunt12
689  0517669-83.2019.4.05.8013     volunt32

[690 rows x 2 columns]

In [3]:
expert_id.volunteer_id.nunique()

22

In [4]:
expert_info

,user_id,role,state,years_experience_judiciary,years_experience_federal_small_claims_courts,years_higher_legal_education
0,volunt01,Federal Judge,PE,6.0,2.0,6.5
1,volunt02,Federal Judge,RN,16.0,15.0,9.0
2,volunt03,Federal Judge,RN,9.0,9.0,5.0
3,volunt04,Analyst (Clerk),RN,4.5,4.5,6.5
4,volunt05,Analyst (Clerk),RN,8.0,3.0,5.0
5,volunt06,Technical (Clerk),RN,8.0,8.0,6.5
6,volunt07,Analyst (Clerk),PE,7.0,4.0,6.5
7,volunt08,Federal Judge,RN,12.0,2.0,5.0
8,volunt09,Analyst (Clerk),RN,5.0,5.0,6.5
9,volunt10,Analyst (Clerk),RN,8.0,8.0,6.5
10,volunt11,Analyst (Clerk),RN,8.0,8.0,6.5
11,volunt12,Technical (Clerk),RN,16.0,16.0,6.5
12,volunt13,Technical (Clerk),RN,10.0,7.0,6.5
13,volunt14,Analyst (Clerk),RN,17.0,17.0,6.5
14,volunt15,Technical (Clerk),RN,27.0,18.0,6.5
15,volunt16,Technical (Clerk),RN,16.0,13.0,6.5
16,volunt17,Analyst (Clerk),PE,6.0,6.0,6.5
17,volunt18,Analyst (Clerk),RN,11.0,8.0,6.5
18,volunt19,Analyst (Clerk),RN,9.0,9.0,6.5
19,volunt20,Federal Judge,RN,9.0,9.0,7.0
20,volunt21,Federal Judge,RN,9.0,9.0,7.0
21,volunt22,Technical (Clerk),RN,8.0,8.0,6.5
22,volunt23,Technical (Clerk),RN,16.0,4.0,6.5
23,volunt24,Technical (Clerk),RN,10.0,5.0,6.5
24,volunt25,Analyst (Clerk),RN,8.0,5.0,6.5
25,volunt26,Analyst (Clerk),RN,8.0,2.0,6.5
26,volunt27,Analyst (Clerk),RN,24.0,3.0,6.5
27,volunt28,Technical (Clerk),RN,17.0,4.0,6.5
28,volunt29,Analyst (Clerk),RN,22.0,9.0,6.5
29,volunt30,Analyst (Clerk),RN,6.0,3.0,6.5
30,volunt31,Technical (Clerk),RN,10.0,8.0,6.5
31,volunt32,Technical (Clerk),RN,22.0,7.0,5.0
32,volunt33,Technical (Clerk),RN,5.0,5.0,6.5

In [5]:
cases_per_expert = expert_id.groupby('volunteer_id').count().reset_index()
cases_per_expert

   volunteer_id  case_number
0      volunt01           25
1      volunt02           37
2      volunt03           18
3      volunt04           18
4      volunt05           45
5      volunt06           49
6      volunt07           29
7      volunt08           35
8      volunt09           10
9      volunt10           43
10     volunt11           56
11     volunt12           48
12     volunt14           44
13     volunt18           10
14     volunt20           44
15     volunt23           21
16     volunt24            5
17     volunt29           50
18     volunt30           26
19     volunt31           25
20     volunt32           21
21     volunt33           31

In [6]:
years_experience_judiciary = cases_per_expert.merge(expert_info[['user_id', 'years_experience_judiciary']], how='inner', left_on='volunteer_id', right_on='user_id').copy()
years_experience_judiciary.drop('user_id', axis=1, inplace=True)
print(f'Weighted Average - Experience in Federal Courts: {np.average(years_experience_judiciary.years_experience_judiciary, weights=years_experience_judiciary.case_number)} years')

Weighted Average - Experience in Federal Courts: 11.207246376811595 years

In [7]:
years_higher_legal_education = cases_per_expert.merge(expert_info[['user_id', 'years_higher_legal_education']], how='inner', left_on='volunteer_id', right_on='user_id').copy()
years_higher_legal_education.drop('user_id', axis=1, inplace=True)
print(f'Weighted Average - Legal Higher Education: {np.average(years_higher_legal_education.years_higher_legal_education, weights=years_higher_legal_education.case_number)} years')

Weighted Average - Legal Higher Education: 6.407246376811594 years

In [8]:
years_experience_federal_small_claims_courts = cases_per_expert.merge(expert_info[['user_id', 'years_experience_federal_small_claims_courts']], how='inner', left_on='volunteer_id', right_on='user_id').copy()
years_experience_federal_small_claims_courts.drop('user_id', axis=1, inplace=True)
print(f'Weighted Average - Experience FSCC: {np.average(years_experience_federal_small_claims_courts.years_experience_federal_small_claims_courts, weights=years_experience_federal_small_claims_courts.case_number)} years')

Weighted Average - Experience FSCC: 8.020289855072464 years

In [9]:
cases_per_expert.case_number.describe()

count    22.000000
mean     31.363636
std      14.676010
min       5.000000
25%      21.000000
50%      30.000000
75%      44.000000
max      56.000000
Name: case_number, dtype: float64